body {
    background-color: antiquewhite;
}
 h2 {
    color: orange;
    text-shadow: 1px 1px black;
}
p, ul, ol {
    color:brown;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-weight: 200; 
   
}
#border_style {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}
img {
    height: auto;
    width: 300px;
}
h1 {
    text-decoration-line: underline;
    color: orange;
    text-shadow: 1px 1px black;
}
.box-one {
    box-sizing: border-box;
    background-color:lightblue;
    padding: 20px;
    border: 20px solid green;
    margin: 20px;
}
